/* opgave 1
du må erne style din message :)
*/

/*opgave 2*/
#produktListe {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.produkt {
  border: 1px solid #ccc;
  padding: 10px;
  width: 90%;
}

/*opgave 3*/
form {
  width: 40%;
  background-color: #f1efef;
  border: 2px solid black;
  border-radius: 0.5rem;
  padding: 1rem;
}
form input {
  height: 2rem;
  padding: 0.3rem;
  margin-bottom: 1rem;
  width: 80%;
  background-color: #ffffff;
  border: 2px solid black;
  border-radius: 0.4rem;
}
